@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}


:root {
  --purple-100: #A85CF9;
  --purple-200: #5534A5;
  --blue: #4B7BE5;
  --teal: #6FDFDF;
  --gray: #cbd5e1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
